<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
</head>

<body>
    <div class="container">
        <h2>Javagram</h2>
        <form method="post">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Email">
            <p>Date of Birth</p>
            <input type="date"> <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>