
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #000; /* Solid border */
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000; /* Solid border */
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>IMDB: Top 5 Episodes</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Breaking Bad</td>
            <td>Ozymandias</td>
            <td>10.0</td>
        </tr>
        <tr>
            <td>Attack on Titan</td>
            <td>Hero</td>
            <td>9.9</td>
        </tr>
        <tr>
            <td>Attack on Titan</td>
            <td>Perfect Game</td>
            <td>9.9</td>
        </tr>
        <tr>
            <td>Star Wars: The Clone Wars</td>
            <td>Victory and Death</td>
            <td>9.9</td>
        </tr>
        <tr>
            <td>Mr. Robot</td>
            <td>407 Proxy Authentication Required</td>
            <td>9.9</td>
        </tr>
    </tbody>
</table>

</body>
</html>