
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #000; /* Solid border */
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000; /* Solid border */
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>IMDB: Top 5 Episodes</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr th:object="${first}">
            <td th:text="*{title}">Breaking Bad</td>
            <td th:text="*{episode}">Ozymandias</td>
            <td th:text="*{rating}">10.0</td>
          </tr>
          <tr th:object="${second}">
            <td th:text="*{title}">Breaking Bad</td>
            <td th:text="*{episode}">Ozymandias</td>
            <td th:text="*{rating}">10.0</td>
          </tr>
          <tr th:object="${third}">
            <td th:text="*{title}">Breaking Bad</td>
            <td th:text="*{episode}">Ozymandias</td>
            <td th:text="*{rating}">10.0</td>
          </tr>
          <tr th:object="${fourth}">
            <td th:text="*{title}">Breaking Bad</td>
            <td th:text="*{episode}">Ozymandias</td>
            <td th:text="*{rating}">10.0</td>
          </tr>
          <tr th:object="${fifth}">
            <td th:text="*{title}">Breaking Bad</td>
            <td th:text="*{episode}">Ozymandias</td>
            <td th:text="*{rating}">10.0</td>
          </tr>
    </tbody>
</table>

</body>
</html>